table {
    border-collapse: collapse;
    width: 10%;
  }
  td {
    height: 50px;
    width: 10%;

  }
table, th, td {
    border: 1px solid black;
  }

  
  :root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  .container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  